@font-face {
    font-family: 'Outfit-Light';
    src: url('../fonts/Outfit-Light.ttf');
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('../fonts/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit-SemiBold';
    src: url('../fonts/Outfit-SemiBold.ttf');
}