@import url('typography.css');

/* COLORS */

/* PRIMARY */
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

/* NEUTRAL */ 
$very-dark-blue-main-bg:hsl(217, 54%, 11%);
$very-dark-blue-card-bg: hsl(216, 50%, 16%);
$white: hsl(0, 0%, 100%);

/* MIXINS */
@mixin displayFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fontStyle($fontFamily, $fontSize: 18px, $color){
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
}

@mixin rightIconSet($url){
    content: url($url);
    vertical-align: middle;
    margin-right: 6px;
}

@mixin commonPositionSet($position, $width, $border-radius){
    position: $position;
    width: $width;
    border-radius: $border-radius;
}

html, body {
    min-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing:content-box;
    background-color: $very-dark-blue-main-bg;
    @include displayFlexCenter;
    font-size: 18px;
}

/* MAIN */
main {
    width: 280px;
    height: 500px;
    padding: 24px;
    background-color: $very-dark-blue-card-bg;
    border-radius: 15px;

    /* EQUILIBRIUM IMAGE*/ 
    .image-box {
        @include commonPositionSet(relative, 100%, 10px);

        .equilibrium {
            @include commonPositionSet(relative, inherit, inherit);
        }

        .overlay {
            @include commonPositionSet(absolute, inherit, inherit);
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($cyan, 0.5);
            @include displayFlexCenter;
            opacity: 0;
            transition: 0.5s ease;
            cursor: pointer;
        
            &:hover {
                opacity: 1;
            }
        }
    }

    /* TITLE */
    .title {
        @include fontStyle('Outfit-SemiBold', 1.20em, $white);
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
            color: $cyan; 
        }
    }

    /* DESCRIPTION */
    .description {
        @include fontStyle('Outfit-Light', 0.90em, $soft-blue);
        line-height: 26px;
        margin: 12px 0px;
    }

     /* NFT STATUS */
    .nft-status {
        display: flex;
        justify-content: space-between;

        .ethereum, .time {
            margin: 4px;
            font-size: 0.85em;
        }

        .ethereum {
            @include fontStyle('Outfit-SemiBold', null, $cyan);

            .ethereum-icon {
                @include rightIconSet('../images/icon-ethereum.svg');
            }
        }
        
        .time {
            @include fontStyle('Outfit-Regular', null, $soft-blue);

            .time-icon {
                @include rightIconSet('../images/icon-clock.svg');
            }
        }
    }

    /* HORIZONTAL LINE */
    hr {
        margin: 10px 0px 20px;
        outline: none;
        border: none;
        height: 1px;
        background-color: rgba($soft-blue, 0.7);
        color: rgba($soft-blue, 0.7);
    }

     /* AVATAR PROFILE */
     .avatar-profile {
        display: flex;

        img {
            width: 32px;
            height: 32px;
            border: 1px solid $white;
            border-radius: 50px;  
        }

        p {
            margin: 6px 12px;
            vertical-align: middle;
            @include fontStyle('Outfit-Regular', 0.85em, $soft-blue);

            .avatar-name {
                color: $white;
                cursor: pointer;

                &:hover {
                    color: $cyan; 
                }
            }
        }
     }
}

/* PORTRAIT TABLET */
@media only screen and (min-width:600px){

}

/* LANDSCAPE TABLET */
@media only screen and (min-width:768px){
    main {
        width: 300px;
        height: 545px;

        /* TITLE */
        .title {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        /* DESCRIPTION */
        .description {
            @include fontStyle('Outfit-Light', 1.0em, $soft-blue);
        }

        /* NFT STATUS */
        .nft-status {

            .ethereum, .time {
                margin: 12px 4px;
            }
        }

        /* HORIZONTAL LINE */
        hr {
            margin: 10px 0px 14px;
        }

        /* AVATAR PROFILE */
        .avatar-profile {

            p {
                margin: 6px 16px;
                @include fontStyle('Outfit-Regular', 0.90em, $soft-blue);
            }
        }
    }
}

/* LAPTOP/DESKTOP */
@media only screen and (min-width:992px){
}

/* LARGE LAPTOP/DESKTOP */
@media only screen and (min-width:1200px){
}